POSTGRES_USER=admin
POSTGRES_PASSWORD=12345
POSTGRES_DB=db
SECRET_KEY=sua_chave_secreta
DATABASE_URL=postgresql+psycopg2://admin:12345@localhost:5432/db
DATABASE_URL_DOCKER=postgresql+psycopg2://admin:12345@db:5432/db
SENDGRID_API_KEY=sua_chave_api
EMAIL_FROM=seu_email
BASE_URL=http://localhost:5173
JWT_ALGORITHM=seu_algoritimo